{%include 'admin_home_header.html'%}
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded w-75 align-self-end" src="static/img/about-1.jpg" alt="">
                        <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="static/img/about-2.jpg" alt="" style="margin-top: -25%;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Pregnancy Care</p>
                    <h1 class="mb-4">Nurturing Motherhood: Your Journey to a Healthy Pregnancy</h1>
                    <p>Pregnancy is a beautiful journey filled with excitement and change. We are here to guide you every step of the way, ensuring a healthy and joyful experience for both you and your baby.</p>
                    <p class="mb-4">Our expert care focuses on prenatal wellness, nutrition, and emotional support to help you navigate the stages of pregnancy with confidence and ease.</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Comprehensive prenatal care</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Expert guidance from professionals</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Support for every stage of pregnancy</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

{%include 'footer.html'%}
